/* 顶部栏*/
.headnav {
    height: 52px;
    background-color: #333333;
}

.headnav .nav ul {
    float: right;
}

.headnav .nav ul li {
    line-height: 52px;
    float: left;
}

.headnav .nav ul li a {
    padding: 0 16px;
    border-right: 1px solid #666666;
    font-size: 14px;
    color: #dcdcdc;
}

.headnav .nav ul li:last-child a {
    border-right: 0;
}

.headnav .nav ul li:last-child a span {
    display: inline-block;
    margin-right: 8px;
    width: 11px;
    height: 16px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    vertical-align: middle;
}

/* 导航栏 */
